<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yksys.isystem.service.base.mapper.TodoTaskMapper">
        <!-- 新增 -->
        <insert id="addTodoTask">
            INSERT INTO tb_todo_task(<include refid="todoTask_add_key"><property name="alias" value="" /></include>)
            VALUES (<include refid="todoTask_add_val"><property name="alias" value="" /></include>)
        </insert>

        <!-- 批量新增 -->
        <insert id="addTodoTasks">
            INSERT INTO tb_todo_task(<include refid="todoTask_add_key"><property name="alias" value="" /></include>)
            VALUES
            <foreach collection="list" item="item" index="index" separator=",">
                (<include refid="todoTask_add_val"><property name="alias" value="item."/></include>)
            </foreach>
        </insert>

        <!-- 修改 -->
        <update id="editTodoTaskById">
            UPDATE tb_todo_task
            <set>
                <include refid="todoTask_set_if"><property name="alias" value="" /></include>
            </set>
            WHERE id = #{id}
        </update>

        <!-- 批量修改 -->
        <update id="editTodoTaskByIds">
            UPDATE tb_todo_task
            <set>
                <include refid="todoTask_set_if"><property name="alias" value="" /></include>
            </set>
            WHERE id IN
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </update>

        <!-- 删除 -->
        <update id="delTodoTaskById">
            update tb_todo_task SET status = 0 WHERE id = #{id}
        </update>

        <!-- 批量删除 -->
        <update id="delTodoTaskByIds">
            UPDATE tb_todo_task SET status = 0 WHERE id IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </update>

        <!-- 真删除 -->
        <delete id="delTodoTaskRealById">
            DELETE FROM tb_todo_task WHERE id = #{id}
        </delete>

        <!-- 真批量删除 -->
        <delete id="delTodoTaskRealByIds">
            DELETE FROM tb_todo_task WHERE id IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </delete>

        <!-- 清空 -->
        <delete id="delTodoTaskReals">
            DELETE FROM tb_todo_task
        </delete>

        <!-- 查询管理列表 -->
        <select id="getTodoTasks" parameterType="Map" resultType="Map">
            SELECT <include refid="todoTask_select_cond" />
            FROM tb_todo_task a
            <where>
                <include refid="todoTask_where_if" />
            </where>
            ORDER BY a.update_time DESC
        </select>

        <!-- 根据id查询待办事项表 -->
        <select id="getTodoTaskById" resultType="Map">
            SELECT <include refid="todoTask_select_cond_one"/>
            FROM tb_todo_task a
            WHERE a.status in (1, 2) and a.id = #{id}
        </select>


        <!-- 查询的选择项, 增删字段时调整 -->
        <sql id="todoTask_select_cond">
            a.id id
                            
                                            
                                    , a.title title
                                            
                                    , a.user_id userId
                                            
                                    , a.remark remark
                                            
                                    , a.status status
                                            
                                    , a.create_user_id createUserId
                                            
                                    , a.create_time createTime
                                            
                                    , a.update_user_id updateUserId
                                            
                                    , a.update_time updateTime
                                    </sql>

        <!-- (单个)查询的选择项, 增删字段时调整 -->
        <sql id="todoTask_select_cond_one">
            a.id id
                                                                            , a.title title
                                                                , a.user_id userId
                                                                , a.remark remark
                                                                , a.status status
                                                                , a.create_user_id createUserId
                                                                , a.create_time createTime
                                                                , a.update_user_id updateUserId
                                                                , a.update_time updateTime
                                    </sql>

        <!-- 查询条件 -->
        <sql id="todoTask_where_if">
                                            <if test="id != null and id != '' and id != 'null' and id != 'undefined'">
                    AND a.id = #{id}
                </if>
                                                            <if test="title != null and title != '' and title != 'null' and title != 'undefined'">
                    AND a.title = #{title}
                </if>
                                                            <if test="userId != null and userId != '' and userId != 'null' and userId != 'undefined'">
                    AND a.user_id = #{userId}
                </if>
                                                            <if test="remark != null and remark != '' and remark != 'null' and remark != 'undefined'">
                    AND a.remark = #{remark}
                </if>
                                                            <if test="status != null">
                    AND a.status = #{status}
                </if>
                                                            <if test="createUserId != null and createUserId != '' and createUserId != 'null' and createUserId != 'undefined'">
                    AND a.create_user_id = #{createUserId}
                </if>
                                                            <if test="createTime != null and createTime != '' and createTime != 'null' and createTime != 'undefined'">
                    AND a.create_time = #{createTime}
                </if>
                                                            <if test="updateUserId != null and updateUserId != '' and updateUserId != 'null' and updateUserId != 'undefined'">
                    AND a.update_user_id = #{updateUserId}
                </if>
                                                            <if test="updateTime != null and updateTime != '' and updateTime != 'null' and updateTime != 'undefined'">
                    AND a.update_time = #{updateTime}
                </if>
                                    </sql>


        <!-- (批量)新增键, 增删字段时调整 -->
        <sql id="todoTask_add_key">
            id
                                                        
                    , title
                                            
                    , user_id
                                            
                    , remark
                                            
                    , status
                                                                                                                                                    </sql>

        <!-- (批量)新增值, 增删字段时调整 -->
        <sql id="todoTask_add_val">
            #{id}
                                                                            , #{title}
                                                                , #{userId}
                                                                , #{remark}
                                                                , #{status}
                                                                                                                                                    </sql>

        <!-- (批量修改的条件,增减字段时调整) -->
        <sql id="todoTask_set_if">
                                                                                                                                <if test="title != null and title != '' and title != 'null' and title != 'undefined'">
                                title = #{title},
                            </if>
                                                                                                                                                                <if test="userId != null and userId != '' and userId != 'null' and userId != 'undefined'">
                                user_id = #{userId},
                            </if>
                                                                                                                                                                <if test="remark != null and remark != '' and remark != 'null' and remark != 'undefined'">
                                remark = #{remark},
                            </if>
                                                                                                                                                                <if test="status != null">
                                status = #{status},
                            </if>
                                                                                                                                                                                                                                                                                                                                                </sql>
</mapper>