<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yksys.isystem.service.system.mapper.TaskLogMapper">
        <!-- 新增 -->
        <insert id="addTaskLog">
            INSERT INTO tb_task_log(<include refid="taskLog_add_key"><property name="alias" value="" /></include>)
            VALUES (<include refid="taskLog_add_val"><property name="alias" value="" /></include>)
        </insert>

        <!-- 批量新增 -->
        <insert id="addTaskLogs">
            INSERT INTO tb_task_log(<include refid="taskLog_add_key"><property name="alias" value="" /></include>)
            VALUES
            <foreach collection="list" item="item" index="index" separator=",">
                (<include refid="taskLog_add_val"><property name="alias" value="item."/></include>)
            </foreach>
        </insert>

        <!-- 修改 -->
        <update id="editTaskLogById">
            UPDATE tb_task_log
            <set>
                <include refid="taskLog_set_if"><property name="alias" value="" /></include>
            </set>
            WHERE id = #{id}
        </update>

        <!-- 批量修改 -->
        <update id="editTaskLogByIds">
            UPDATE tb_task_log
            <set>
                <include refid="taskLog_set_if"><property name="alias" value="" /></include>
            </set>
            WHERE id IN
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </update>

        <!-- 删除 -->
        <update id="delTaskLogById">
            update tb_task_log SET status = 0 WHERE id = #{id}
        </update>

        <!-- 批量删除 -->
        <update id="delTaskLogByIds">
            UPDATE tb_task_log SET status = 0 WHERE id IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </update>

        <!-- 真删除 -->
        <delete id="delTaskLogRealById">
            DELETE FROM tb_task_log WHERE id = #{id}
        </delete>

        <!-- 真批量删除 -->
        <delete id="delTaskLogRealByIds">
            DELETE FROM tb_task_log WHERE id IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </delete>

        <!-- 清空 -->
        <delete id="delTaskLogReals">
            DELETE FROM tb_task_log
        </delete>

        <!-- 查询管理列表 -->
        <select id="getTaskLogs" parameterType="Map" resultType="Map">
            SELECT <include refid="taskLog_select_cond" />
            FROM tb_task_log a
            <where>
                <include refid="taskLog_where_if" />
                AND a.status in (1, 2)
            </where>
            ORDER BY a.status ASC, a.create_time DESC
        </select>

        <!-- 根据id查询定时任务调度日志表 -->
        <select id="getTaskLogById" resultType="Map">
            SELECT <include refid="taskLog_select_cond_one"/>
            FROM tb_task_log a
            WHERE a.status in (1, 2) and a.id = #{id}
        </select>


        <!-- 查询的选择项, 增删字段时调整 -->
        <sql id="taskLog_select_cond">
            a.id id
                            
                                            
                                    , a.job_name jobName
                                            
                                    , a.job_class_name jobClassName
                                            
                                    , a.job_group_name jobGroupName
                                            
                                    , a.job_message jobMessage
                                            
                                    , a.start_time startTime
                                            
                                    , a.end_time endTime
                                            
                                    , a.exception_info exceptionInfo
                                            
                                    , a.status status
                                            
                                    , a.remark remark
                                            
                                    , a.create_user_id createUserId
                                            
                                    , a.create_time createTime
                                            
                                    , a.update_user_id updateUserId
                                            
                                    , a.update_time updateTime
                                    </sql>

        <!-- (单个)查询的选择项, 增删字段时调整 -->
        <sql id="taskLog_select_cond_one">
            a.id id
                                                                            , a.job_name jobName
                                                                , a.job_class_name jobClassName
                                                                , a.job_group_name jobGroupName
                                                                , a.job_message jobMessage
                                                                , a.start_time startTime
                                                                , a.end_time endTime
                                                                , a.exception_info exceptionInfo
                                                                , a.status status
                                                                , a.remark remark
                                                                , a.create_user_id createUserId
                                                                , a.create_time createTime
                                                                , a.update_user_id updateUserId
                                                                , a.update_time updateTime
                                    </sql>

        <!-- 查询条件 -->
        <sql id="taskLog_where_if">
                                            <if test="id != null and id != '' and id != 'null' and id != 'undefined'">
                    AND a.id = #{id}
                </if>
                                                            <if test="jobName != null and jobName != '' and jobName != 'null' and jobName != 'undefined'">
                    AND a.job_name = #{jobName}
                </if>
                                                            <if test="jobClassName != null and jobClassName != '' and jobClassName != 'null' and jobClassName != 'undefined'">
                    AND a.job_class_name = #{jobClassName}
                </if>
                                                            <if test="jobGroupName != null and jobGroupName != '' and jobGroupName != 'null' and jobGroupName != 'undefined'">
                    AND a.job_group_name = #{jobGroupName}
                </if>
                                                            <if test="jobMessage != null and jobMessage != '' and jobMessage != 'null' and jobMessage != 'undefined'">
                    AND a.job_message = #{jobMessage}
                </if>
                                                            <if test="startTime != null and startTime != '' and startTime != 'null' and startTime != 'undefined'">
                    AND a.start_time = #{startTime}
                </if>
                                                            <if test="endTime != null and endTime != '' and endTime != 'null' and endTime != 'undefined'">
                    AND a.end_time = #{endTime}
                </if>
                                                            <if test="exceptionInfo != null and exceptionInfo != '' and exceptionInfo != 'null' and exceptionInfo != 'undefined'">
                    AND a.exception_info = #{exceptionInfo}
                </if>
                                                            <if test="status != null">
                    AND a.status = #{status}
                </if>
                                                            <if test="remark != null and remark != '' and remark != 'null' and remark != 'undefined'">
                    AND a.remark = #{remark}
                </if>
                                                            <if test="createUserId != null and createUserId != '' and createUserId != 'null' and createUserId != 'undefined'">
                    AND a.create_user_id = #{createUserId}
                </if>
                                                            <if test="createTime != null and createTime != '' and createTime != 'null' and createTime != 'undefined'">
                    AND a.create_time = #{createTime}
                </if>
                                                            <if test="updateUserId != null and updateUserId != '' and updateUserId != 'null' and updateUserId != 'undefined'">
                    AND a.update_user_id = #{updateUserId}
                </if>
                                                            <if test="updateTime != null and updateTime != '' and updateTime != 'null' and updateTime != 'undefined'">
                    AND a.update_time = #{updateTime}
                </if>
                                    </sql>


        <!-- (批量)新增键, 增删字段时调整 -->
        <sql id="taskLog_add_key">
            id
                                                        
                    , job_name
                                            
                    , job_class_name
                                            
                    , job_group_name
                                            
                    , job_message
                                            
                    , start_time
                                            
                    , end_time
                                            
                    , exception_info
                                            
                    , status
                                            
                    , remark
                                                                                                                                                    </sql>

        <!-- (批量)新增值, 增删字段时调整 -->
        <sql id="taskLog_add_val">
            #{id}
                                                                            , #{jobName}
                                                                , #{jobClassName}
                                                                , #{jobGroupName}
                                                                , #{jobMessage}
                                                                , #{startTime}
                                                                , #{endTime}
                                                                , #{exceptionInfo}
                                                                , #{status}
                                                                , #{remark}
                                                                                                                                                    </sql>

        <!-- (批量修改的条件,增减字段时调整) -->
        <sql id="taskLog_set_if">
                                                                                                                                <if test="jobName != null and jobName != '' and jobName != 'null' and jobName != 'undefined'">
                                job_name = #{jobName},
                            </if>
                                                                                                                                                                <if test="jobClassName != null and jobClassName != '' and jobClassName != 'null' and jobClassName != 'undefined'">
                                job_class_name = #{jobClassName},
                            </if>
                                                                                                                                                                <if test="jobGroupName != null and jobGroupName != '' and jobGroupName != 'null' and jobGroupName != 'undefined'">
                                job_group_name = #{jobGroupName},
                            </if>
                                                                                                                                                                <if test="jobMessage != null and jobMessage != '' and jobMessage != 'null' and jobMessage != 'undefined'">
                                job_message = #{jobMessage},
                            </if>
                                                                                                                                                                <if test="startTime != null and startTime != '' and startTime != 'null' and startTime != 'undefined'">
                                start_time = #{startTime},
                            </if>
                                                                                                                                                                <if test="endTime != null and endTime != '' and endTime != 'null' and endTime != 'undefined'">
                                end_time = #{endTime},
                            </if>
                                                                                                                                                                <if test="exceptionInfo != null and exceptionInfo != '' and exceptionInfo != 'null' and exceptionInfo != 'undefined'">
                                exception_info = #{exceptionInfo},
                            </if>
                                                                                                                                                                <if test="status != null">
                                status = #{status},
                            </if>
                                                                                                                                                                <if test="remark != null and remark != '' and remark != 'null' and remark != 'undefined'">
                                remark = #{remark},
                            </if>
                                                                                                                                                                                                                                                                                                                                                </sql>
</mapper>